@tailwind base;
@tailwind components;
@tailwind utilities;


.jetbrains-mono-display {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

