@tailwind base;
@tailwind components;
@tailwind utilities;


.jetbrains-mono-display {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


body {
    background-color: black; 
}

.inner-shadow-div {
    box-shadow: 10rem 10rem 10rem rgba(0, 0, 0, 0.8) inset, -10rem -10rem 10rem rgba(0, 0, 0, 0.8) inset;
}